BOT_TOKEN=
OWNER_ID=8681820826
OWNER_USERNAME=
MONGODB_URI=mongodb+srv://USER:PASS@cluster0.XXXXX.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=manhwaflare
LOG_CHANNEL_ID=-1003915347751
SUPPORT_GROUP=https://t.me/+CZCfHr3AHKUwNTJk
SUPPORT_CHANNEL=DragonByte_network
CAPTION_TAG=
